services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672" # RabbitMQ main port
      - "15672:15672" # RabbitMQ management UI port
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

  collector:
    build: ./collector
    container_name: collector
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
    restart: always

volumes:
  rabbitmq_data:
